<div class="container">
    <header>Book Your Facility</header>
    <form class="form" name="myForm" #myForm="ngForm" #regForm='ngForm' (ngSubmit)='onSubmit(myForm)'>
        <div class="form first">
            <div class="personal details">
                <div class="fields">
                    <div class="input-field">
                        <label>Player ID</label>
                        <input name="playerId" type="number" required placeholder="Player ID" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="booking.playerId" #playerId="ngModel" />
                    </div>
                    <div class="input-field">
                        <label>Facility ID</label>
                        <input name="facilityId" type="number" required placeholder="Facility ID" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="booking.facilityId" #facilityId="ngModel" />
                    </div>
                    <div class="input-field">
                        <label>First Name</label>
                        <input name="firstname" type="text" required placeholder="First Name" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="booking.firstname" #firstname="ngModel" />
                    </div>
                    <div class="input-field">
                        <label>Last Name</label>
                        <input name="lastname" type="text" required placeholder="Last Name" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="booking.lastname" #lastname="ngModel" />
                    </div>
                    <div class="input-field">
                        <label>Booking Date</label>
                        <input name="bookingDate" type="date" required placeholder="Booking Date" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="booking.bookingDate" #bookingDate="ngModel" />
                    </div>
                    <div class="input-field">
                        <label>Player DOB</label>
                        <input name="playerDOB" type="date" required placeholder="Booking Date" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="booking.playerDOB" #playerDOB="ngModel" />
                    </div>
                    <div class="input-field">
                        <label>Facility Name</label>
                        <select input name="facilityName" type="text" required placeholder="Select Facility Name"
                            class="form__input" id="exampleInputPassword1" [(ngModel)]="booking.facilityName"
                            #facilityName="ngModel">
                            <option disabled selected="selected">Select Facility Name</option>
                            <option>Cricket</option>

                            <option>Football</option>
                            <option>Basketball</option>

                            <option>Hockey </option>

                        </select>
                    </div>
                    <div class="input-field">
                        <label>Facility Category</label>
                        <select input name="facilityCategory" type="text" required
                            placeholder="Select facility Category" class="form__input" id="exampleInputPassword1"
                            [(ngModel)]="booking.facilityCategory" #facilityCategory="ngModel">
                            <option disabled selected="selected">Select facility Category</option>
                            <option>Cricket</option>
                            <option>Football</option>
                            <option>Basketball</option>
                            <option>Hockey</option>
                        </select>
                    </div>


                    <div class="input-field">
                        <label>Starting Time</label>
                        <select input name="startTime" type="text" required placeholder="Select Start Time"
                            class="form__input" id="exampleInputPassword1" [(ngModel)]="booking.startTime"
                            #startTime="ngModel">
                            <option disabled selected="selected">Select Your Start Time</option>
                            <option>6:00 AM</option>
                            <option>7:00 AM</option>
                            <option>8:00 AM</option>
                            <option>9:00 AM</option>
                            <option>10:00 AM</option>
                            <option>11:00 AM</option>
                            <option>12:00 AM</option>
                            <option>1:00 PM</option>
                            <option>2:00 PM</option>
                            <option>3:00 PM</option>
                            <option>4:00 PM</option>
                            <option>5:00 PM</option>
                            <option>6:00 PM</option>
                            <option>7:00 PM</option>
                            <option>8:00 PM</option>
                            <option>9:00 PM</option>
                            <option>10:00 PM</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label>End Time</label>
                        <select input name="endTime" type="text" required placeholder="Select End Time"
                            class="form__input" id="exampleInputPassword1" [(ngModel)]="booking.endTime"
                            #endTime="ngModel">
                            <option disabled selected="selected">Select End Time</option>
                            <option>6:00 AM</option>
                            <option>7:00 AM</option>
                            <option>8:00 AM</option>
                            <option>9:00 AM</option>
                            <option>10:00 AM</option>
                            <option>11:00 AM</option>
                            <option>12:00 AM</option>
                            <option>1:00 PM</option>
                            <option>2:00 PM</option>
                            <option>3:00 PM</option>
                            <option>4:00 PM</option>
                            <option>5:00 PM</option>
                            <option>6:00 PM</option>
                            <option>7:00 PM</option>
                            <option>8:00 PM</option>
                            <option>9:00 PM</option>
                            <option>10:00 PM</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success"
                style="margin-left:100px; text-align:center; ; margin-bottom: 10px; background-color: rgb(6, 92, 6);">Submit</button>
        </div>
    </form>
</div>