<app-navbar></app-navbar>
<div class="container">
    <header>Registration</header>
    <form class="form" name="myForm" #myForm="ngForm" #regForm='ngForm' (ngSubmit)='onSubmit(myForm)'>
        <div class="form first">
            <div class="personal details">
                <span class="title">Personal Details</span>
                <div class="fields">
                    <div class="input-field">
                        <label>Full Name<span style="color:red;">*</span></label>
                        <input name="username" type="text" required placeholder="User Name" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="register.username" #username="ngModel" />
                       
                    </div>

                    <div class="input-field">
                        <label>Date of Birth<span style="color:red;">*</span></label>
                        <input name="birthDate" type="date" required placeholder="Date of birth" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="register.date_of_birth" #birthDate="ngModel" />
                    </div>

                    <div class="input-field">
                        <label>Email<span style="color:red;">*</span></label>
                        <input name="email" type="text" required placeholder="Email" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="register.email" #email="ngModel" />
                    </div>

                    <div class="input-field">
                        <label>Mobile Number<span style="color:red;">*</span></label>
                        <input name="mobilenumber" type="number" required placeholder="Mobile Number"
                            class="form__input" id="exampleInputPassword1" [(ngModel)]="register.mob_number"
                            #mobilenumber="ngModel" />
                    </div>

                    <div class="input-field">
                        <label>PAN Number<span style="color:red;">*</span></label>
                        <input name="pannumber" type="text" required placeholder="Pan Number" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="register.pan_number" #pannumbaer="ngModel" />
                    </div>

                    <div class="input-field">
                        <label>Password<span style="color:red;">*</span></label>
                        <input name="password" type="password" required placeholder="Password" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="register.password" #password="ngModel" />
                    </div>
                </div>
            </div>

            <div class="Address Details">
                <span class="title">Address Details</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Address Line 1<span style="color:red;">*</span></label>
                        <input name="address1" type="text" required placeholder="Address Line 1" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="register.address_line_1" #address1="ngModel" />
                    </div>
                    <div class="input-field">
                        <label>Address Line 2</label>
                        <input name="address2" type="text" required placeholder="Address Line 2" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="register.address_line_2" #address2="ngModel" />
                    </div>

                    <div class="input-field">
                        <label> City<span style="color:red;">*</span></label>
                        <input name="city" type="text" required placeholder="City" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="register.city" #city="ngModel" />
                    </div>
                    <div class="input-field">
                        <label>State</label>
                        <select input name="state" type="text" required placeholder="Select State" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="register.state" #state="ngModel">
                            <option disabled selected>Select state</option>
                            <option>Andhra Pradesh</option>
                            <option>Andaman and Nicobar Islands</option>
                            <option>Arunachal Pradesh</option>
                            <option>Assam</option>
                            <option>Bihar</option>
                            <option>Chandigarh</option>
                            <option>Chhattisgarh</option>
                            <option>Dadar and Nagar Haveli</option>
                            <option>Daman and Diu</option>
                            <option>Delhi</option>
                            <option>Lakshadweep</option>
                            <option>Puducherry</option>
                            <option>Goa</option>
                            <option>Gujarat</option>
                            <option>Haryana</option>
                            <option>Himachal Pradesh</option>
                            <option>Jammu and Kashmir</option>
                            <option>Jharkhand</option>
                            <option>Karnataka</option>
                            <option>Kerala</option>
                            <option>Madhya Pradesh</option>
                            <option>Maharashtra</option>
                            <option>Manipur</option>
                            <option>Meghalaya</option>
                            <option>Mizoram</option>
                            <option>Nagaland</option>
                            <option>Odisha</option>
                            <option>Punjab</option>
                            <option>Rajasthan</option>
                            <option>Sikkim</option>
                            <option>Tamil Nadu</option>
                            <option>Telangana</option>
                            <option>Tripura</option>
                            <option>Uttar Pradesh</option>
                            <option>Uttarakhand</option>
                            <option>West Bengal</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label>Pin Code<span style="color:red;">*</span></label>
                        <input name="pincode" type="text" required placeholder="Pin Code" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="register.pincode" #pincode="ngModel" />
                    </div>

                    <div class="input-field">
                        <label>Country<span style="color:red;">*</span></label>
                        <input name="country" type="text" required placeholder="Country" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="register.country" #country="ngModel" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary"
                style="text-align:center; ; margin-bottom: 10px; background-color: blue;">Register</button>
        </div>
    </form>
</div>