.navbar{
    margin-left: 0px;
    width: 100%;
}
ul{
    width: 100%;
}

button {
    background-color: black; 
    color: white; 
    
  }
  
button:hover {
    background-color: #825d05;
    color: white;
  }
  select{
    background-color: rgb(249, 248, 247);
    width: 100px;
    height: 38px;
    margin-right: 15px;
    margin-left: 830px;
    border-radius: 6%;
  }
  