<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="form-horizontal" role="form">

            
        </div>
        <!-- <form (ngSubmit)="onSubmit()" class="form">
            <label>Cancel Booking</label>
            <input type="number" id="booking_id" placeholder="Enter PNR Number" class="form-control"
                [(ngModel)]="form.booking_id" name="booking_id" #booking_id="ngModel" required="required"
                minlength="3" />
            <button type="submit" class="cancel" id="btn2" [disabled]="booking_id.invalid" (click)="clickAlert()">Cancel
                Booking</button>
            <div *ngIf="booking_id.invalid && (booking_id.dirty || booking_id.touched)" class="alert">
                <div *ngIf="booking_id.errors?.['required']" style="color:red;" class="alert alert-danger">
                    Id is required.
                </div>
                <div *ngIf="booking_id.errors?.['minlength']" style="color:red;" class="alert alert-danger">
                    ID must be of 3 digit .
                </div>

            </div>
            <div class="alert alert-success" *ngIf="booking_cancelled;else error" Style="margin-left: 24px;">
                Booking Cancelled Successfully!

            </div>
            <ng-template #error class="alert alert-danger">
                <a style="font-size:15px;color: brown;margin-right:29px ;"> Invalid/Null -ID</a>
            </ng-template>
        </form> -->
    </div>
    <div class="image"></div>


    <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="social-wrapper">
            <ul>
                <li>
                    <a href="#" target="_blank">
                        <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png"
                            alt="Twitter Logo" class="twitter-icon"></a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="https://www.mchenryvillage.com/images/instagram-icon.png" alt="Instagram Logo"
                            class="instagram-icon"></a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="http://www.iconarchive.com/download/i54037/danleech/simple/facebook.ico"
                            alt="Facebook Logo" class="facebook-icon"></a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="http://icons.iconarchive.com/icons/marcus-roberto/google-play/256/Google-plus-icon.png"
                            alt="Googleplus Logo" class="googleplus-icon"></a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="https://lh3.googleusercontent.com/j_RwVcM9d47aBDW5DS1VkdxUYCkDUCB6wZglv4x-9SmsxO0VaFs7Csh-FmKRCWz9r_Ef=w170"
                            alt="Youtube Logo" class="youtube-icon"></a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="http://www.iconarchive.com/download/i94258/designbolts/vector-foursquare/Foursquare-2.ico"
                            alt="Foursquare Logo" class="foursquare-icon"></a>
                </li>
            </ul>
        </div>
        <nav class="footer-nav" role="navigation">
            <h3>©2023 Cognizant, all rights reserved</h3>
        </nav>
    </footer>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js "></script>
</body>

</html>