    .form {
        width: 433px;
        text-align: center;
        background-color: #385b5f;
        position: relative;
        right: -1080px;
        font-size: 38px;
        color: aliceblue;
        height: 432px;
        border-radius: 10px;
    }

    input {
        width: 300px;
        margin-left: 58px;
    }

    #btn2 {
        padding: 2px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        background-color: #CBE4FE;
        margin-left: 106px;
        font-size: 28px;
        margin-top: 60px;
        margin-bottom: 10px;
    }

    #btn2:hover {
        background-color: #C1DCF9;
    }

    label {
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .alert {
        height: 46px;
        width: 367px;
        font-size: 20px;
        text-align: center;
    }
    
    .image {
        background-image: url("./assets/sport4.jpg");
        background-repeat: no-repeat;
        max-width: inherit;
        display: flex;
        background-position-y: bottom;
        height: 1000px;
        margin-top: -19px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: -2px;
    }

    /* footer styling-------------------------------------------------------------*/
    .site-footer {
        background-color: #ffffff;
        text-align: center;
        margin: 1px 0;
        padding: 1px 10;
    }

    #social-wrapper {
        text-align: center;
    }

    /*Social Media Icons*/
    .social-wrapper {
        text-align: center;
    }

    .social-wrapper ul li {
        display: inline;
        margin: 0 5px;
    }

    .twitter-icon,
    .facebook-icon,
    .instagram-icon,
    .googleplus-icon,
    .youtube-icon,
    .foursquare-icon {
        width: 35px;
        height: 35px;

        /* opacity: .6;  */
        /* filter: alpha(opacity=60); */
        /* For IE8 and earlier */
        border-radius: 25px;
    }

    .twitter-icon:hover,
    .facebook-icon:hover,
    .instagram-icon:hover,
    .googleplus-icon:hover,
    .youtube-icon:hover,
    .foursquare-icon:hover {
        opacity: 1.0;
        /* filter: alpha(opacity=100); */
        /* For IE8 and earlier */
    }

    .footer-nav h3 {
        text-align: center;
    }

    /*----------------------------------------------------*/