
    <div class="container">
    <header>Update Details</header>
    <form class="form" name="myForm" #myForm="ngForm" #regForm='ngForm' (ngSubmit)='onSubmit(myForm)'>
        <div class="form first">
            <div class="personal details">
                <span class="title">Personal Details</span>
                <div class="fields">
                 

                    <div class="input-field">
                        <label>Date of Birth</label>
                        <input name="birthDate" type="date" required placeholder="Date of birth" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="update.date_of_birth" #birthDate="ngModel" max="2005-01-01" min="1920-01-01"/>
                    </div>
                

                    <div class="input-field">
                        <label>Mobile Number</label>
                        <input name="mobilenumber" type="text" required placeholder="Mobile Number"
                            class="form__input" id="exampleInputPassword1" [(ngModel)]="update.mob_number"
                            #mobilenumber="ngModel" pattern="[0-9]{10}"/>
                    </div>

                    <div class="input-field">
                        <label>PAN Number</label>
                        <input name="pannumber" type="text" required placeholder="Pan Number" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="update.pan_number" #pannumbaer="ngModel" pattern="[A-Za-z]{5}\d{4}[A-Za-z]{1}" />
                    </div>
                </div>
            </div>

            <div class="Address Details">
                <span class="title">Address Details</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Address Line 1</label>
                        <input name="address1" type="text" required placeholder="Address Line 1" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="update.address_line_1" #address1="ngModel" />
                    </div>
                    <div class="input-field">
                        <label>Address Line 2</label>
                        <input name="address2" type="text" required placeholder="Address Line 2" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="update.address_line_2" #address2="ngModel" />
                    </div>
                     <div class="input-field">
                        <label>Pin Code</label>
                        <input name="pincode" type="text" required placeholder="Pin Code" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="update.pincode" #pincode="ngModel" />
                    </div>

                    <div class="input-field">
                        <label> City</label>
                        <input name="city" type="text" required placeholder="City" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="update.city" #city="ngModel" />
                    </div>
                    <div class="input-field">
                        <label>State</label>
                        <select input name="state" type="text" required placeholder="Select State" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="update.state" #state="ngModel">
                            <option disabled selected>Select state</option>
                            <option>Andhra Pradesh</option>
                            <option>Andaman and Nicobar Islands</option>
                            <option>Arunachal Pradesh</option>
                            <option>Assam</option>
                            <option>Bihar</option>
                            <option>Chandigarh</option>
                            <option>Chhattisgarh</option>
                            <option>Dadar and Nagar Haveli</option>
                            <option>Daman and Diu</option>
                            <option>Delhi</option>
                            <option>Lakshadweep</option>
                            <option>Puducherry</option>
                            <option>Goa</option>
                            <option>Gujarat</option>
                            <option>Haryana</option>
                            <option>Himachal Pradesh</option>
                            <option>Jammu and Kashmir</option>
                            <option>Jharkhand</option>
                            <option>Karnataka</option>
                            <option>Kerala</option>
                            <option>Madhya Pradesh</option>
                            <option>Maharashtra</option>
                            <option>Manipur</option>
                            <option>Meghalaya</option>
                            <option>Mizoram</option>
                            <option>Nagaland</option>
                            <option>Odisha</option>
                            <option>Punjab</option>
                            <option>Rajasthan</option>
                            <option>Sikkim</option>
                            <option>Tamil Nadu</option>
                            <option>Telangana</option>
                            <option>Tripura</option>
                            <option>Uttar Pradesh</option>
                            <option>Uttarakhand</option>
                            <option>West Bengal</option>
                        </select>
                        
                    </div>
                    <div class="input-field">
                        <label>Country</label>
                        <input name="country" type="text" required placeholder="Country" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="update.country" #country="ngModel" />
                    </div>

                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
                
        </div>
    </form>
</div>


<!-- <div class="footer">
    <div class="social">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
    </div>
    <p style="color: white;"> ©2023 developed & Managed by Sport Facility Team</p>
</div> -->