<div class="container">
    <header>Book Your Facility</header>
    <form class="form" name="myForm" #myForm="ngForm" #regForm='ngForm' (ngSubmit)='onSubmit(myForm)'>
        <div class="form first">
            <div class="personal details">
                <div class="fields">
                    <div class="input-field">
                        <label>Choose Facility</label>
                        <select input name="facilityId" type="number" required placeholder="Choose Facility" class="form__input"
                        id="exampleInputPassword1" [(ngModel)]="booking.facilityId" #facilityId="ngModel" >
                            <option disabled selected="selected">Select facility</option>
                            <option value="1">Cricket-Box-1</option>
                            <option value="2">Cricket-Box-2</option>
                            <option value="3">Football-Ground-1</option>
                            <option value="4">Badminton-Court-1</option>
                            <option value="5">Badminton-Court-2</option>
                            <option value="6">Badminton-Court-3</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Booking Date</label>
                        <input name="bookingDate" type="date" required placeholder="Booking Date" class="form__input"
                            id="exampleInputPassword1" [(ngModel)]="booking.bookingDate" #bookingDate="ngModel" />
                    </div>
                    <div class="input-field">
                        <label>Starting Time</label>
                        <select input name="startTime" type="text" required placeholder="Select Start Time"
                            class="form__input" id="exampleInputPassword1" [(ngModel)]="booking.startTime"
                            #startTime="ngModel">
                            <option disabled selected="selected">Select Your Start Time</option>
                            <option>6:00 AM</option>
                            <option>7:00 AM</option>
                            <option>8:00 AM</option>
                            <option>9:00 AM</option>
                            <option>10:00 AM</option>
                            <option>11:00 AM</option>
                            <option>12:00 AM</option>
                            <option>13:00 PM</option>
                            <option>14:00 PM</option>
                            <option>15:00 PM</option>
                            <option>16:00 PM</option>
                            <option>17:00 PM</option>
                            <option>18:00 PM</option>
                            <option>19:00 PM</option>
                            <option>20:00 PM</option>
                            <option>21:00 PM</option>
                            <option>22:00 PM</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label>End Time</label>
                        <select input name="endTime" type="text" required placeholder="Select End Time"
                            class="form__input" id="exampleInputPassword1" [(ngModel)]="booking.endTime"
                            #endTime="ngModel">
                            <option value="" disabled selected hidden>Select End Time</option>
                            <option>6:00 AM</option>
                            <option>7:00 AM</option>
                            <option>8:00 AM</option>
                            <option>9:00 AM</option>
                            <option>10:00 AM</option>
                            <option>11:00 AM</option>
                            <option>12:00 AM</option>
                            <option>13:00 PM</option>
                            <option>14:00 PM</option>
                            <option>15:00 PM</option>
                            <option>16:00 PM</option>
                            <option>17:00 PM</option>
                            <option>18:00 PM</option>
                            <option>19:00 PM</option>
                            <option>20:00 PM</option>
                            <option>21:00 PM</option>
                            <option>22:00 PM</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success"
                style=" text-align:center; ; margin-bottom: 10px; background-color: rgb(6, 92, 6);">Submit</button>
        </div>
    </form>
</div>