<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="image">
        <div class="container">
            <div class="card card-container">
                <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <h4> <label for="username">Username</label></h4>
                        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                            minlength="3" maxlength="20" #username="ngModel" />
                        <div class="alert-danger" *ngIf="username.errors && f.submitted">
                            <div *ngIf="username.errors['required']">Username is required</div>
                            <div *ngIf="username.errors['minlength']">
                                Username must be at least 3 characters
                            </div>
                            <div *ngIf="username.errors['maxlength']">
                                Username must be at most 20 characters
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h4><label for="email">Email</label>
                        </h4>
                        <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
                            #email="ngModel" />
                        <div class="alert-danger" *ngIf="email.errors && f.submitted">
                            <div *ngIf="email.errors['required']">Email is required</div>
                            <div *ngIf="email.errors['email']">
                                Email must be a valid email address
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h4> <label for="password">Password</label></h4>
                        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                            minlength="8" #password="ngModel" />
                        <div class="alert-danger" *ngIf="password.errors && f.submitted">
                            <div *ngIf="password.errors['required']">Password is required</div>
                            <div *ngIf="password.errors['minlength']">
                                Password must be at least 8 characters
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">Sign Up</button>
                    </div>
                    <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                        Signup failed!<br />{{ errorMessage }}
                    </div>
                </form>
                <div class="alert alert-success" *ngIf="isSuccessful">
                    Your registration is successful!Please Login To Continue
                </div>
            </div>
        </div>
    </div>
    <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="social-wrapper">
            <ul>
                <li>
                    <a href="#" target="_blank">
                        <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png"
                            alt="Twitter Logo" class="twitter-icon"></a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="https://www.mchenryvillage.com/images/instagram-icon.png" alt="Instagram Logo"
                            class="instagram-icon"></a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="http://www.iconarchive.com/download/i54037/danleech/simple/facebook.ico"
                            alt="Facebook Logo" class="facebook-icon"></a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="http://icons.iconarchive.com/icons/marcus-roberto/google-play/256/Google-plus-icon.png"
                            alt="Googleplus Logo" class="googleplus-icon"></a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="https://lh3.googleusercontent.com/j_RwVcM9d47aBDW5DS1VkdxUYCkDUCB6wZglv4x-9SmsxO0VaFs7Csh-FmKRCWz9r_Ef=w170"
                            alt="Youtube Logo" class="youtube-icon"></a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="http://www.iconarchive.com/download/i94258/designbolts/vector-foursquare/Foursquare-2.ico"
                            alt="Foursquare Logo" class="foursquare-icon"></a>
                </li>
            </ul>
        </div>

        <nav class="footer-nav" role="navigation">
            <h3>©2023 Cognizant, all rights reserved</h3>
        </nav>
    </footer>

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</body>

</html>